/*
What's a wrapper?
A wrapper serves to "set fences" around an element. It can indicate its position,
its max or min width... In precise positioning, the wrapper handles the element's
position and size, everything inside of it will adapt to it if it gets resized.
*/

.activeStyle
{
	background-color: rgba(0, 0, 0, 0.5);
}

.navbar
{
    display: flex;
    background-color: rgb(95, 126, 45);
    text-align: center;
}

.menu
{
   /* width: 40%;*/
    display: flex;
    padding-left: 50px;


}

.menu_wrap
{
    max-width: 1080px;
    margin: auto;
    display: flex;
}

.menu_logo_wrap
{
    display: flex;
    flex: 0 1 auto;
    align-items: center;
}

.menu_logo
{
    margin-right: 30px;
}

.menu_nav_wrap
{
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
}
/*
.menu_nav
{
}
*/
.menu_nav > nav > ul
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu_nav > nav > ul > li
{
    display: flex;
    flex: 1 1 auto;
    min-width: 50px;
    margin-left: 10px;
    padding: 0 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.menu_nav > nav >  ul > li:hover
{
    background-color: black;
}

.menu_nav > nav > ul > li > a
{
    padding: 24px 0 24px 0;
}


.avatar-wrapper {
    margin: auto;
    display:inline-block;
    position: relative;
    border-radius: 50%;
}

.avatar {
    width: 40px;
    border-radius: 50%;
    border: 6px rgb(95, 126, 45) solid
}
.status {
    width: 10px !important;
    position: relative;
    bottom: 0%;
    right: 29%;
    border: 4px rgb(95, 126, 45) solid;
    border-radius: 50%;
}