@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components
{
	.sidebar-icon
	{
		@apply	h-12 w-12 my-2 mx-auto
				rounded-3xl bg-gray-800 text-green-600
				flex items-center justify-center
				hover:bg-green-700 hover:text-white hover:rounded-2xl
				transition-all duration-300 ease-linear
				cursor-pointer;
	}

	.icon-tooltip
	{
		@apply	absolute left-16 w-28 z-50
				bg-slate-900 rounded-lg text-white text-center font-bold text-base
				transition-all duration-200 ease-linear origin-left scale-0;
	}
}
/* p, div, input, button
{
	color: white
}

button
{
	padding: 5px;
	border: white solid 2px;
	border-radius: 12.5%;
	background-color: grey;
}

select
{
	background-color: grey;
} */
